{% extends "clienttemplates/base.html" %}
{% load static %}
{% block content %}
<div class="banner-agile-2">
</div>
<!-- breadcrumb -->
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{% url 'hometuitionapp:home' %}">Home</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">About Us</li>
	</ol>
</nav>
<!-- breadcrumb -->
<!-- //banner -->

<!-- history -->
<div class="about-page py-5">
	<div class="container py-xl-5 py-lg-3">
		<h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">about
			<span class="font-weight-bold">us</span>
		</h3>
		<div class="row about-head-wthree">
			<div class="col-lg-6 left-abw3ls">
				<img src="{% static 'clientstatic/images/ap-1.jpg' %}" alt="" class="img-fluid">
			</div>
			<div class="col-lg-6 right-abw3ls mt-lg-0 mt-sm-5 mt-4">
				<h4 class="font-italic border-bottom text-center font-weight-bold pb-3 mb-4">Our Objective</h4>
				<p>To provide a better platform for students to help them in their study and find a suitable teacher according to their needs who will ensure their growth and welfare.</p>
				<p class="mt-3">To provide job opportunities for teachers who are willing to teach and help the students grow in a friendly environment.</p>
			</div>
		</div>
	</div>
</div>
<!-- //history -->

<!-- mission -->
<div class="about-page-2 py-5">
	<div class="container-fluid py-xl-5 py-lg-3">
		<div class="row about-head-wthree-2">
			<div class="col-lg-4 left-abw3ls text-lg-left text-center">
				<img src="{% static 'clientstatic/images/ap-2.jpg' %}" alt="" class="img-fluid">
			</div>
			<div class="col-lg-4 right-abw3ls my-lg-0 my-sm-5 my-4">
				<h4 class="font-italic border-bottom text-center font-weight-bold pb-3 mb-4">How This Works</h4>
				<p>A tutor creates his profile in the site by going to registration page. The information like his academic qualifications, teaching experiences etc are provided. </p>
				<p class="mt-3">Tutors information can be visible to parents/students through our site.</p><br>
				<p>Parents/students can search for the tutors relevant to them in their locations.</p>
			</div>
			<div class="col-lg-4 left-abw3ls text-lg-left text-center">
				<img src="{% static 'clientstatic/images/ap-3.jpg' %}" alt="" class="img-fluid">
			</div>
		</div>
	</div>
</div>
<!-- //mission -->

<!-- team -->

<!-- //team -->

<!-- what we do -->
<div class="why-choose-agile py-5">
	<div class="container py-xl-5 py-lg-3">
		<h3 class="title text-capitalize font-weight-light text-white text-center mb-5">what we
			<span class="font-weight-bold">do</span>
		</h3>
		<div class="row agileits-w3layouts-grid pt-md-4">
			
			
			<div class="col-lg-4 services-agile-1">
				<div class="row wthree_agile_us">
					<div class="col-lg-3 col-md-2 col-3  agile-why-text">
						<div class="wthree_features_grid text-center p-3 border rounded">
							<i class="fas fa-users"></i>
						</div>
					</div>
					<div class="col-9 agile-why-text-2">
						<h4 class="text-capitalize text-white font-weight-bold mb-3">qualified teachers</h4>
						<p>We provide professional and experienced tutors for all major subjects. 
							</p>
						<a class="btn mt-3 service-button p-0" href="about.html" role="button">Read More
							<i class="fas fa-long-arrow-alt-right ml-1"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="col-lg-4 services-agile-1  my-lg-0 my-5">
				<div class="row wthree_agile_us">
					<div class="col-lg-3 col-md-2 col-3  agile-why-text">
						<div class="wthree_features_grid text-center p-3 border rounded">
							<i class="fas fa-graduation-cap"></i>
						</div>
					</div>
					<div class="col-9 agile-why-text-2">
						<h4 class="text-capitalize text-white font-weight-bold mb-3">pre classes</h4>
						<p>Try our tutors for 2 days. If any complaints then you can change the tutor. You will not be charged for those 2 days.</p>
						<a class="btn mt-3 service-button p-0" href="about.html" role="button">Read More
							<i class="fas fa-long-arrow-alt-right ml-1"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 services-agile-1">
				<div class="row wthree_agile_us">
					<div class="col-lg-3 col-md-2 col-3  agile-why-text">
						<div class="wthree_features_grid text-center p-3 border rounded">
							<i class="far fa-calendar-alt"></i>
						</div>
					</div>
					<div class="col-9 agile-why-text-2">
						<h4 class="text-capitalize text-white font-weight-bold mb-3">events</h4>
						<p>We organize various events throughout a year.</p>
						<a class="btn mt-3 service-button p-0" href="about.html" role="button">Read More
							<i class="fas fa-long-arrow-alt-right ml-1"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
<!-- //what we do -->

<!-- video and events -->
<!-- <div class="video-choose-agile py-5">
	<div class="container py-xl-5 py-lg-3">
		<div class="row">
			<div class="col-lg-7 video">
				<h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">our
					<span class="font-weight-bold">video</span>
				</h3>
				<iframe src="https://player.vimeo.com/video/58123228"></iframe>
			</div>
			<div class="col-lg-5 events">
				<h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">upcoming
					<span class="font-weight-bold">events</span>
				</h3>
				<div class="events-w3ls">
					<div class="d-flex">
						<div class="col-sm-2 col-3 events-up p-3 text-center">
							<h5 class="text-white font-weight-bold">28
								<span class="border-top font-weight-light pt-2 mt-2">May</span>
							</h5>
						</div>
						<div class="col-sm-10 col-9 events-right">
							<h4 class="text-dark">Admission Fair Spring </h4>
							<ul class="list-unstyled">
								<li class="my-2">
									<i class="far fa-clock mr-2"></i>5.00 pm - 7.30 pm</li>
								<li>
									<i class="fas fa-map-marker mr-2"></i>25 Newyork City.</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="d-flex my-4">
					<div class="col-sm-2 col-3 events-up p-3 text-center">
						<h5 class="text-white font-weight-bold">28
							<span class="border-top font-weight-light pt-2 mt-2">May</span>
						</h5>
					</div>
					<div class="col-sm-10 col-9 events-right">
						<h4 class="text-dark">Admission Fair Spring </h4>
						<ul class="list-unstyled">
							<li class="my-2">
								<i class="far fa-clock mr-2"></i>5.00 pm - 7.30 pm</li>
							<li>
								<i class="fas fa-map-marker mr-2"></i>25 Newyork City.</li>
						</ul>
					</div>
				</div>
				<div class="d-flex">
					<div class="col-sm-2 col-3 events-up p-3 text-center">
						<h5 class="text-white font-weight-bold">28
							<span class="border-top font-weight-light pt-2 mt-2">May</span>
						</h5>
					</div>
					<div class="col-sm-10 col-9 events-right">
						<h4 class="text-dark">Admission Fair Spring </h4>
						<ul class="list-unstyled">
							<li class="my-2">
								<i class="far fa-clock mr-2"></i>5.00 pm - 7.30 pm</li>
							<li>
								<i class="fas fa-map-marker mr-2"></i>25 Newyork City.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->
<!-- //video and events -->

<!-- testimonials -->
<!-- <div class="testimonials py-5">
	<div class="container py-xl-5 py-lg-3">
		<h3 class="title text-capitalize font-weight-light text-white text-center mb-5">what our
			<span class="font-weight-bold">people says</span>
		</h3>
		<div class="mis-stage"> -->
			<!-- The element to select and apply miSlider to - the class is optional -->
			<!-- <ol class="mis-slider"> -->
				<!-- The slider element - the class is optional -->
				<!-- <li class="mis-slide"> -->
					<!-- A slide element - the class is optional -->
					<!-- <a href="#" class="mis-container"> -->
						<!-- A slide container - this element is optional, if absent the plugin adds it automatically -->
						<!-- <figure> -->
							<!-- Slide content - whatever you want -->
							<!-- <img src="{% static 'clientstatic/images/t1.jpg' %}" alt=" " class="img-fluid" />
							<figcaption>Carl Lii
								<span>Sed maximus eros quis leo.</span>
							</figcaption>
						</figure>
					</a>
				</li> -->
				<!-- <li class="mis-slide">
					<a href="#" class="mis-container">
						<figure>
							<img src="{% static 'clientstatic/images/t2.jpg' %}" alt=" " class="img-fluid" />
							<figcaption>Michael Paul
								<span>Sed maximus eros quis leo.</span>
							</figcaption>
						</figure>
					</a>
				</li>
				<li class="mis-slide">
					<a href="link" class="mis-container">
						<figure>
							<img src="{% static 'clientstatic/images/t3.jpg' %}" alt=" " class="img-fluid" />
							<figcaption>Henry Doe
								<span>Sed maximus eros quis leo.</span>
							</figcaption>
						</figure>
					</a>
				</li>
				<li class="mis-slide">
					<a href="#" class="mis-container">
						<figure>
							<img src="{% static 'clientstatic/images/t4.jpg' %}" alt=" " class="img-fluid" />
							<figcaption>Laura James
								<span>Sed maximus eros quis leo.</span>
							</figcaption>
						</figure>
					</a>
				</li>
				<li class="mis-slide">
					<a href="#" class="mis-container">
						<figure>
							<img src="{% static 'clientstatic/images/t5.jpg' %}" alt=" " class="img-fluid" />
							<figcaption>Thomas Carl
								<span>Sed maximus eros quis leo.</span>
							</figcaption>
						</figure>
					</a>
				</li>
				<li class="mis-slide">
					<a href="#" class="mis-container">
						<figure>
							<img src="{% static 'clientstatic/images/t6.jpg' %}" alt=" " class="img-fluid" />
							<figcaption>Rosy Crisp
								<span>Sed maximus eros quis leo.</span>
							</figcaption>
						</figure>
					</a>
				</li>
				<li class="mis-slide">
					<a href="#" class="mis-container">
						<figure>
							<img src="{% static 'clientstatic/images/t4.jpg' %}" alt=" " class="img-fluid" />
							<figcaption>Michael Paul
								<span>Sed maximus eros quis leo.</span>
							</figcaption>
						</figure>
					</a>
				</li>
			</ol>
		</div>
	</div>
</div> -->
<!-- //testimonials -->

<!-- news -->
<!-- <div class="news-section py-5">
	<div class="container py-xl-5 py-lg-3">
		<h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">our lastest
			<span class="font-weight-bold">news</span>
		</h3>
		<div class="row news-grids-w3l pt-md-4">
			<div class="col-md-4 news-grid">
				<a href="blog.html">
					<img src="{% static 'clientstatic/images/n1.jpg' %}" class="img-fluid" alt="" />
				</a>
				<div class="news-text">
					<div class="news-events-agile event-colo1 py-2 px-3">
						<h5 class="float-left">
							<a href="blog.html" class="text-white">07 May</a>
						</h5>
						<div class="post-img float-right">
							<ul>
								<li>
									<a href="#">
										<i class="far fa-comments text-white"></i>
									</a>
								</li>
								<li class="mx-3">
									<a href="#">
										<i class="far fa-heart text-white"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-share text-white"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="detail-bottom">
						<h6 class="my-3">
							<a href="blog.html" class="text-dark">
								Eiusmod tempor incididunt ut labore sed do eiusmod
							</a>
						</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod
							tempor incididunt ut labore</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 news-grid my-md-0 my-sm-5 my-4">
				<a href="blog.html">
					<img src="{% static 'clientstatic/images/n2.jpg' %}" class="img-fluid" alt="" />
				</a>
				<div class="news-text">
					<div class="news-events-agile py-2 px-3">
						<h5 class="float-left">
							<a href="blog.html" class="text-white">07 May</a>
						</h5>
						<div class="post-img float-right">
							<ul>
								<li>
									<a href="#">
										<i class="far fa-comments text-white"></i>
									</a>
								</li>
								<li class="mx-3">
									<a href="#">
										<i class="far fa-heart text-white"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-share text-white"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="detail-bottom">
						<h6 class="my-3">
							<a href="blog.html" class="text-dark">
								Eiusmod tempor incididunt ut labore sed do eiusmod
							</a>
						</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod
							tempor incididunt ut labore</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 news-grid">
				<a href="blog.html">
					<img src="{% static 'clientstatic/images/n3.jpg' %}" class="img-fluid" alt="" />
				</a>
				<div class="news-text">
					<div class="news-events-agile event-colo3 py-2 px-3">
						<h5 class="float-left">
							<a href="blog.html" class="text-white">07 May</a>
						</h5>
						<div class="post-img float-right">
							<ul>
								<li>
									<a href="#">
										<i class="far fa-comments text-white"></i>
									</a>
								</li>
								<li class="mx-3">
									<a href="#">
										<i class="far fa-heart text-white"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-share text-white"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="detail-bottom">
						<h6 class="my-3">
							<a href="blog.html" class="text-dark">
								Eiusmod tempor incididunt ut labore sed do eiusmod
							</a>
						</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod
							tempor incididunt ut labore</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->
<!-- //news -->

<!-- brands -->
<!-- <div class="brands-w3ls py-md-5 py-4">
	<div class="container py-xl-3">
		<ul class="list-unstyled">
			<li>
				<i class="fab fa-supple"></i>
			</li>
			<li>
				<i class="fab fa-angrycreative"></i>
			</li>
			<li>
				<i class="fab fa-aviato"></i>
			</li>
			<li>
				<i class="fab fa-aws"></i>
			</li>
			<li>
				<i class="fab fa-cpanel"></i>
			</li>
			<li>
				<i class="fab fa-hooli"></i>
			</li>
			<li>
				<i class="fab fa-node"></i>
			</li>
		</ul>
	</div>
</div> -->
<!-- //brands -->


{% endblock %}