{% extends 'clienttemplates/studentbase.html' %}
{% load static %}

{% block css %}
{% endblock %}
{% block content %}

<div class="page-wrapper">
	<div class="container-fluid">
		<!-- Title -->
		<div class="row heading-bg mt-4">
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			  <h3 class="txt-dark">Ticket Lists</h3>
			</div>
		</div>
		<!-- /Title -->
		<!-- Row -->
		<div class="row mt-4">
			<div class="col-sm-12">
				<div class="panel panel-default card-view">
					<div class="panel-heading">
						<div class="pull-left">
							<h6 class="panel-title txt-dark">Ticket Raise</h6>
						</div>	
						<div class="clearfix"></div>
					</div>
					<div class="panel-wrapper collapse in">
						<div class="panel-body">
							<div class="table-wrap">
								<div class="table-responsive">
									<table id="example" class="table table-hover display pb-30" >
										<thead>
											<tr>
												<th>S.N.</th>
												<th>Admin/Issue Type</th>
												<th>Issue</th>
												<th>Issue Solve</th>
												<th>Added on</th>
												<!-- <th>Actions</th> -->
											</tr>
										</thead>
										<tbody>
											{% for ticketraise in ticketraiselist %}
											<tr>
												<td>{{forloop.counter}}</td>
												<td>
													<a href="{% url 'hometuitionapp:studentticketdetail' ticketraise.pk %}">
													{{ticketraise.receiver}}
													<br>{{ticketraise.issue_type}}
													</a>
												</td>
                                                <td><a href="{% url 'hometuitionapp:studentticketdetail' ticketraise.pk %}" style="font-size: 14px;"> #ticket{{ticketraise.id}} </a></td>
												<td>
													{% if ticketraise.issue_solved %}
													<span class="badge badge-success"> Solved </span>
													{% else %}
													<span class="badge badge-danger"> UnSolved </span>
													{% endif %} 
												</td>
												<td>{{ticketraise.created_at}}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
		<!-- /Row -->
	</div>
	<!-- Footer -->
	
	<!-- /Footer -->
</div>

{% endblock %}

{% block js %}


{% endblock %}
