{% extends "clienttemplates/studentbase.html" %}
{% load static %}
{% block content %}
<!-- {% for notification  in studentnotificationlist %}
<a href="" ><li>{{notification.teacher}} accepted the request of {{notification.student}} at {{notification.hire_date}}</li></a>
                
{% endfor %} -->
               

<div class="container-fluid">
    <div class="row">
        <div class="outer-w3-agile col-xl">
            <div class="work-progres">
                <h4 class="tittle-w3-agileits mb-4">Notification</h4>
                <hr>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            {% for notification  in studentnotificationlist %}
                            		<tr>
                            			<td>{{forloop.counter}}</td>
                            			<td><a href="" >{{notification.teacher}} accepted the request of {{notification.student}} at {{notification.hire_date}}</a></td>
                            		</tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}