{% extends "clienttemplates/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'clientstatic/css/login.css' %}">
{% endblock %}
{% block content %}
<div class="login-section">
<div class="flex-container">
<div class="flex-group">	
<h3>Student Login </h3>
</div>
<form class="form-group" method="POST">
<!-- Cross Site Request Forgery refers to attempts to send request from an external site while pretending to be the origin application which is often use by attackers to execute malicious actions in the server.-->
<!-- Django protects against CSRF attacks by generating a CSRF token in the server -->
	{% csrf_token %}
	<div class="flex-group">
	{{form.as_p}}
	</div>
	{{error}}<br>
	<div class="flex-group">	
	<button type="submit" class="btn btn-primary login-btn">Login</button>
	<p><a href="{% url 'hometuitionapp:password_resett' %}">Forgot password? </a></p>
	<hr>
	<p>Not Registered Yet!<a href="{%  url 'hometuitionapp:studentregister' %}">Register here</a></p>
	{% if messages %}
    	<div class="col-lg-3 color03">
        	<ul class="messages">
            	{% for message in messages %}
                	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            	{% endfor %}
        	</ul>
    	</div>
	{% endif %}
</div>
</form>
</div>
</div>
{% endblock %}
