{% extends 'clienttemplates/studentbase.html' %}


{% load static %}

{% block content %}

<div class="page-wrapper">
	<div class="container-fluid">
		<!-- Title -->
		<div class="row heading-bg mt-4">
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			  <h3 class="txt-dark">Open Ticket</h3>
			</div>
		</div>
		<!-- /Title -->
		
		<!-- Row -->
		<div class="row mt-4">
			<div class="col-sm-12">
				<div class="panel panel-default card-view">
					<div class="panel-wrapper collapse in">
						<div class="panel-body">
							<div class="form-wrap">
								<form method="POST" enctype="multipart/form-data">
									{% csrf_token %}
									<div class="row">
										<div class="col-md-12">
											<div class="row">
                                                
												
                                                
												
												<div class="col-xs-6 col-sm-6">
													<div class="form-group">
                                                        <label class="control-label mb-10">Issue Related To</label>
                                                        <br>
                                                        <label class="control-label mb-10" style="font-size: 10px;">Select According to Issue you are facing</label>
														{{form.issue_type}}
													</div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12">
													<div class="form-group">
                                                        <label class="control-label mb-10">Your Issue</label>
														{{form.issue}}
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="form-actions">
											<button class="btn btn-success btn-icon left-icon ml-15 mr-15"> <i class="fa fa-check"></i> <span>Raise Ticket</span></button>
											<!-- <button 	type="reset" class="btn btn-warning">Reset</button> -->
											<div class="clearfix"></div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Row -->
	</div>
{% endblock %}