{% extends "clienttemplates/base.html" %}
{% load static %}
{% block css %}
{% endblock %}
{% block content %}


<div class="contact-grids1 w3agile-6 registration">
	<h3>Student Registration Form </h3>

<form action="" enctype="multipart/form-data" method="post">
	{% csrf_token %}

	
		<div class="row">
			<div class="col-md-6 col-sm-6 form-group">
				<label class="col-form-label">Username</label>
				<!-- <input type="text" class="form-control" name="username" placeholder="" required=""> -->{{form.username}}
				{{form.username.errors}}
			</div>
			<div class="col-md-6 col-sm-6 form-group">
				<label class="col-form-label">Email</label>
				<!-- <input type="email" class="form-control" name="email" placeholder="" required=""> -->{{form.email}}
				{{form.email.errors}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 form-group">
				<label class="col-form-label">Password</label>
				<!-- <input type="password" class="form-control" name="Password" placeholder="" required=""> -->{{form.password}}
			</div>

			<div class="col-md-6 col-sm-6 form-group">
				<label class="col-form-label">Confirm Password</label>
				<!-- <input type="password" class="form-control" name="confirmPassword" placeholder="" required=""> -->
				{{form.confirm_password}}
				
				{{form.confirm_password.errors}}

			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 form-group">
				<label class="col-form-label">Name</label>
				<!-- <input type="text" class="form-control" name="name" placeholder="" required=""> -->
				{{form.name}}
			</div>
			<div class="col-md-6 col-sm-6 form-group">
				<label class="col-form-label">Phone no</label>
				<!-- <input type="number" class="form-control" name="phoneno" placeholder="" required=""> -->
				{{form.phone_no}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 form-group">
				<label class="col-form-label">Address</label>
				<!-- <input type="text" class="form-control" name="address" placeholder="" required=""> -->{{form.address}}
			</div>
			<div class="col-md-6 col-sm-6 form-group">
				<label class="col-form-label">Report Card</label>
				<!-- <input type="file" class="form-control-file" name="reportCard" placeholder="" required=""> -->{{form.report_card}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 form-group">
				<div class="col-md-12">
					<label class="col-form-label">Course</label>
				</div>
				
				{% for c in course %}
				<div class="col-md-4">
					
					<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo__{{c.id}}">{{c.name}}</button>
					<div id="demo__{{c.id}}" class="collapse">
						{% for s in c.subject_set.all %}
							<label>{{s.name}}</label>
							<input type="checkbox" name="subject__{{s.id}}">
						{% endfor %}
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="col-md-6 col-sm-6 form-group">
				<label class="col-form-label">Tuition Type</label>
				<!-- <input type="text" class="form-control" name="address" placeholder="" required=""> -->{{form.tuition_type}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 form-group">
				<label class="col-form-label">Salary</label>
				<!-- <input type="text" class="form-control" name="address" placeholder="" required=""> -->{{form.salary}}
			</div>
			<div class="col-md-6 col-sm-6 form-group">
				<label class="col-form-label">Availability Time</label>
				<!-- <input type="file" class="form-control-file" name="reportCard" placeholder="" required=""> -->{{form.time}}
			</div>
		</div>

		<!-- {%	for	field	in	form	%}
		<div>				
			{{	field.errors	}}		
		</div> 
		{%	endfor	%} -->
		<div class="row">
			<div class="col-md-6 form-group">
				<input type="checkbox" id="terms_conditions" name="terms_conditions" value="true">
				<label for="terms_conditions">I agree to <a href="{% url 'hometuitionapp:studentterms' %}">terms and conditions.</a> </label>
			</div>
			<div class="col-md-6 form-group">
				<button type="submit" class="btn btn-primary fa-pull-right">Submit</button>
			</div>
			
		</div>
		
		
	</form>	
</div>
{% endblock %}