<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions</title>
</head>
<body>
    <div>
        <!-- student -->
            <h1>Terms and Conditions</h1> 
            <p> Please read the following before registering with Home Tuition. By registering, you accept that you are entering into a contract with us based on these Terms and Conditions.
                We reserve the right to make any necessary changes to these Terms and Conditions. </p>
<h2>1. Definitions</h2>
<p> 1.1 Below is a list of “Terms” of expression together with their definitions used here, on the website and in other materials:
    “Home Tuition” refers to the name of the company that liaises with tutors, students and/or their nominees to provide any requested tuition and/or careers service. 
“Us”, “We” or “Our” means Home Tuition. “Client” or “Member” in relation to Home Tuition refers to tutors, students and/or their nominees (including, parent(s) and guardian(s)) who have registered with us for our services. 
“Student” refers to person(s) (including their nominees) requiring/requesting tuition services by a tutor. 
“Parent(s)” refers to the parent(s), guardian(s) or nominee(s) of students acting on behalf of the student to request tuition services by a tutor. 
“Tutor” refers to a person suitably qualified and experienced to provide tuition services in specific areas of expertise. 
“You” can refer to tutors and students (both registered and unregistered) who use our website or contact us. 
“Contract” is the period during which a tutor provides a service to the student as agreed between the tutor and student.
<p>1.2 For all and any business undertaken by Home Tuition, a tutor and/or a student is transacted subject to these Terms. In the event of any conflict between these Terms and any other terms and conditions, these Terms shall prevail unless otherwise agreed in writing by Home Tuition.
</p>

<h2>2. Obligations of Home Tuition </h2>
<p>2.1 We will take all reasonable precautions to keep the details of tutors and students secure, but will not be liable for unauthorized access to the information provided by tutors and students.
</p>
<p>2.2 We will liaise with both tutors and students to help provide a service to both parties. </p>
<p>2.3 We will be responsible for the collection of fees from the student and payment to the tutor for all services received/provided.
</p>
<p>2.4 We will verify the qualifications and references checks of any tutor whom enters into, or proposes to enter into, a contract with us.
</p>

<h2>3. Obligations of a Tutor 
</h2>
<p>3.1 You affirm that you are of at least 18 years of age, have the necessary qualifications and/or experience to provide tuition in the subjects highlighted to Home Tuition at the time of registration. 
</p>
<p>3.2 As a tutor you are expected to be punctual and maintain professional conduct at all times. </p>
<p>3.3 You are expected to communicate effectively with both students and parents, addressing any questions appropriately and professionally. </p>
<p>3.4 You agree with the fees of your contracted service and, if applicable, any associated charges set by Home Tuition for the tuition you provide. 
</p>
<p>3.5 You must not discuss any fees (charged or outstanding) with any student/parent or another tutor. </p>
<p>3.6 You must not demand or accept any form of payment from a student/parent. All payments are agreed and handled only by authorized personnel on behalf of Home Tuition. </p>
<p>3.7 Tuition outside of a contract is not permitted. </p>
<p>3.8 You must ensure that you keep your knowledge up-to-date in the subjects you are teaching and, if necessary, prepare/read background materials so that full support can be provided to your students. </p>
<p>3.9 You understand that Home Tuition has the right to suspend or terminate your membership at any time if, in our view, there has been a breach of the contract, abuse of our services or the bringing of our services/company into disrepute.</p>
<h4>Classes</h4>
<p>In addition to the above, tutors working in our educational classes must abide by the following basic rules: </p>
<p>3.10 As a tutor you are expected to be punctual and maintain professional conduct at all times during time in class. </p>
<p>3.11 You are responsible for planning each lesson and ensuring you have obtained any relevant materials (worksheets, books, instruments, etc.) beforehand. Lessons each week must cover the topics highlighted in the syllabus provided for each Key Stage. </p>
<p>3.12 You are expected to ensure students are comfortable with their work. </p>
<p>3.13 You must provide equal time to each individual student and ensure they are confident and understand the work or tasks set by yourself or another tutor.</p>
<p>3.14 Tutors must ensure that, wherever possible, each student's work is marked during the class. This may be marked by you or answers may be provided to the students for self-assessment/marking. </p>
<p>3.15 All tutors are encouraged to make the lessons as interactive as possible. This can be through the use of presentations, group work and general discussions focusing on certain aspects of the students’ work or task. </p>
<p>3.16 You may use appropriate external/third party resources or materials to supplement your tuition in class; however, the tutor is solely responsible for the appropriateness, accuracy and validity of such materials.</p>
<p>3.17 As a tutor, you are expected to communicate effectively with both students and parents, addressing any questions appropriately and professionally. </p>
<p>3.18 You must not approach, offer or encourage any student/parent to arrange additional tuition outside of Home Tuition. Tutors should direct any student/parent who approaches them for further tuition to contact Home Tuition. Tuition outside of this contract is not permitted. Any additional educational services to students must be arranged via Home Tuition.</p>
<p>3.19 You must complete your timesheet and have it signed by a representative of Home Tuition each week. Timesheets must be submitted to us no later than the 5 day of the subsequent month to ensure that payment is made in a timely manner. Payment will be made either in cash or to your account. Late timesheets may result in your payment being delayed until the subsequent month. </p> 
<p>3.20 You are contracted to work on behalf of Home Tuition on a temporary basis. This contract may be terminated by Teaching Tree Academy without notice should your services no longer be required. However, we will endeavor to provide advance notice whenever possible.</p>
<p>3.21 You must provide Home Tuition with sufficient notice if you are not able to attend a class, so that alternative arrangements can be made and avoid disruption to the students' studies. If you are unable to attend class due to illness, then you must telephone and speak with a member of the Home Tuition team, providing as much advance notice as possible prior to the start of your class.</p>
<p>3.22 Tutors are required to provide  Home Tuition with a notice of at least 4 weeks should they wish to terminate their agreement and no longer provide tuition in the classes.</p>

<h2>4. Salary</h2>
Fees payable in respect of your provision of the Services:
4.1 are paid on a per hour basis in accordance with the number of hours or partial hours of Services you provide at the hourly rates specified in this Agreement (15% of which is taken by the Home Tuition).
4.2	are inclusive of any and all applicable taxes for which you may be responsible.
4.3 are subject to any Penalty Costs that may be incurred as a result of; being late, unfinished sessions, or a “no show” for any previously scheduled tutor session.
 
<h2>5. Miscellaneous </h2>
<p>5.1 By providing us with your details and or other information, you agree that we may hold this information on our database. With the exception of your appointed tutor/student, we will not pass on your personal details to any third party without your consent. However, you agree that we may use your details (e.g. your email address) to invite you to join our communications network, including social networking websites; you are under no obligation to join or accept such an invitation. </p>
<p>5.2 Members and non-members acknowledge that any details provided during feedback on our website are subject to review by us. We reserve the right to monitor and edit, modify, accept or reject any comments that we feel is inappropriate. 
</p>
<p>5.3No member or non-member may use the website and/or our services for unlawful or prohibited purposes, including the posting of false information onto the website, copying the whole (or part) of the contents for other use, either personal or commercial.</p>
<p>5.4 You agree not to impersonate any other person or entity or to use a false name or a name that they have no authority to use. 
</p>
<p>5.5 In the event of our website being unavailable, we will do our utmost to ensure the service is up and running as soon as possible. However, no claims for loss or damages of any nature may be made against Home Tuition.
</p>
<p>5.6 If you have any concerns regarding the content or use of our website and/or any materials related to Home Tuition, then please contact us and we will be happy to look into and try to resolve the matter at our earliest convenience.
</p>
<p>5.7 Home Tuition is not responsible for any third-party sites that link to our website.
</p>
<p>5.8 The code, brand, brand name, logo and intellectual property of the Home Tuition website and any related materials cannot be reused without written permission from Home Tuition.</p>

<div>
    <p>I declare that I have read, understand and agree with the above terms and conditions. By registering with Home Tuition, I understand that I am bound to this contractual agreement. </p>
</div>
    </div>
</body>
</html>