<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions</title>
</head>
<body>
    <div>
        <!-- student -->
            <h1>Terms and Conditions</h1> 
            <p> Please read the following before registering with Home Tuition. By registering, you accept that you are entering into a contract with us based on these Terms and Conditions.
                We reserve the right to make any necessary changes to these Terms and Conditions. </p>
<h2>1. Definitions</h2>
<p> 1.1 Below is a list of “Terms” of expression together with their definitions used here, on the website and in other materials:
    “Tutoring services” shall be used to refer to the following specific tutoring services that the tutor will provide to the client under the certain terms and conditions.
    “Commencement Date” shall be used to refer the date the Tutor begins the Tutoring services.
    “Completion Date” shall be used to refer to the date the Tutor will complete the provision of Tutoring Services to the client.
    “Fees” shall be referred to the payment client will pay tutor for rendering the services.</p>
<p>1.2 For all and any business undertaken by Home Tuition, a tutor and/or a student is transacted subject to these Terms. In the event of any conflict between these Terms and any other terms and conditions, 
    these Terms shall prevail unless otherwise agreed in writing by Home Tuition.</p>

<h2>2. Fees Payable to the Tutor </h2>
<p>Fees shall be calculated at a rate of per month of tutoring. No further fees shall be charged for traveling or preparation time of the Tutor.  Fees may be adjusted from time to time and shall become effective after having given the Student seven days written notice. Fee once paid are not refunded in any circumstances. A late payment charge will be imposed on any overdue fee.(Rs.10 per day).</p>

<h2>3. Cancellation and Refund </h2>
<p>The Student may cancel a prepaid session up to one hour before the scheduled time for reasons of a family emergency or sickness and receive a refund or apply any pre-payment to a future session.  
    Lessons not attended for any other reason by the student without giving 48 hours prior notice to the Tutor shall be charged at the full rate.  If the Tutor cancels a session for any reason and at 
    any time prior to the start of the session, the Tutor agrees to refund the Student any pre-payment for that session or to apply that payment to a future session that the Tutor and Student agree upon.</p>
 
<h2>4. Late Arrival and Change of Schedule  </h2>
<p>Fees are calculated according to the scheduled time agreed upon by the Tutor and Student.  No adjustment to fees shall be made for time lost because of late arrival by the Student or by early termination 
    of session by the Student.  Any lost time because of the late arrival of the Tutor shall be compensated for by extending a lesson by mutual agreement and by such amount of time that was lost.  The Tutor 
    agrees to wait fifteen minutes from the time of the scheduled session for the Student's arrival before considering that session canceled without sufficient prior notice and therefore subject to the terms 
    set forth in the CANCELLATION AND REFUND policy</p>

<h2>5. Obligations of a Tutor </h2>
<p>5.1 The Tutor undertakes to do all preparation prior to lessons and to structure lessons in such a way as to optimize time to the benefit of the Student.</p>
<p>5.2 The Tutor shall keep confidential all information of the Student and shall contact other parties involved in the education of the Student only if given written permission by the Student to do so. </p>
<p>5.3 The Tutor shall not assign any of his/her duties or obligations under this tutoring contract to a third party without the written permission of the Student. </p>
<p>5.4 The Tutor shall at no time be required or obliged to execute homework or assignments on behalf of the Student.</p>

<h2>6. Obligations of a Student</h2>
<p>6.1 The Student undertakes to assist the Tutor in identifying problem areas in which the Student needs specific tutoring. </p>
<p>6.2 The Student agrees to provide their own materials needed for each tutoring session (E. g. paper, pencil, etc.). </p>
<p>6.3 The Student agrees that assignments, exercises or homework form an integral part of tutoring and undertakes to complete such work timeously.</p>

<h2>7. No Warranties </h2>
<p>The Tutor makes no promises or warranties with regards to a Student's performance as a result of any tutoring provided. </p>

<h2>8. Status of the Tutor</h2>
<p>It is expressly understood that the Student retains the services of the Tutor as an independent contractor and not as an employee. The Tutor shall be responsible for his/her insurance and for all statutory declarations and contributions with regard to income tax.</p>

<h2>9. Termination </h2>
<p>This tutoring contract may be terminated by either party at any time by giving the other party seven days prior written notice.</p>

<h2>10. Relaxation of Terms</h2>
<p>No relaxation, indulgence, waiver or release by any party of any of the rights in terms of this agreement on one occasion shall prevent the subsequent enforcement of such rights and shall not be deemed to be a waiver of any subsequent breach of any of the terms.</p> 

<h2>11. Minors</h2>
<p>Where the Student is a legal minor, the Parent/Guardian shall enter into this tutoring contract on behalf of the Student and shall accept and agree to all the terms and conditions contained herein on behalf of the Student.</p>
 

    
    </div>
</body>
</html>