{% extends "admintemplates/base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Stats -->
        <div class="outer-w3-agile col-xl">
            <div class="work-progres">
                <h4 class="tittle-w3-agileits mb-4">Teacher List</h4>
                <hr>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Created</th>
                                <th>Status</th> 
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        	{% for teacher in teacherlist %}
                        	<tr>
                        		<td>{{forloop.counter}}</td>
                                <td><a href="{% url 'hometuitionapp:adminteacherdetail' teacher.pk %}">{{teacher.name}}</a></td>
                        		<td>{{teacher.created_at}}</td>
                        		<td>{% if teacher.active %}active{% else %}inactive{% endif %}</td>
                        		<td><a href="{% url 'hometuitionapp:adminteacherupdate' teacher.pk %}" class="btn btn-primary btn-xs">Update</a>
                            		<a href="{% url 'hometuitionapp:adminteacherdelete' teacher.pk %}" class="btn btn-danger btn-xs">Delete</a>
                            	</td>
                        	</tr>
                        	{% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}