{% extends "admintemplates/base.html" %}
{% block content %}
<!--// Inline Form -->
                <div class="container-fluid">
                    <div class="row">
                        <!-- Forms-1 -->
                        <div class="outer-w3-agile col-xl mt-3 mr-xl-3">
                            <h4 class="tittle-w3-agileits mb-4">Subject Create Form</h4>
                            <form method="post">
                                {% csrf_token %}
                                {{form.as_p}}
                                <button>Submit data</button>
                            </form>
                        </div>
                    </div>
                </div>

{% endblock %}