* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-section {
    position: relative;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


.flex-container {
    width: 34%;
    border: black outset 1px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group {
    width: 75%;
}

.btn {
    width: 100%;
}

.btn>a {
    color: white;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}